<div class="header a" id="headerDIV">
    <a *ngIf="isLoggedIn()" routerLink="home" class="logo"><u>E</u>xpense <u>R</u>eimbursement <u>S</u>ystem ||| </a>
        <a *ngIf="!isLoggedIn()" routerLink="login" class="logo"><u>E</u>xpense <u>R</u>eimbursement <u>S</u>ystem</a>
    <div class="header-right" *ngIf="!managerLevel()">
        <a *ngIf="isLoggedIn()" class="nav-link" routerLink="user-details">My Account</a>
        <a *ngIf="isLoggedIn()" class="nav-link" routerLink="request-add">Submit Request</a>
        <a *ngIf="isLoggedIn()" class="nav-link" routerLink="logout">Logout</a>
        <!-- <a *ngIf="!isLoggedIn()" class="nav-link" routerLink="login">Login</a> -->
    </div>
    <div class="header-right" *ngIf="managerLevel()">
        <a *ngIf="isLoggedIn()" class="nav-link" routerLink="user-management">User Accounts</a>
        <a *ngIf="isLoggedIn()" class="nav-link" routerLink="request-management">Requests</a>
        <a *ngIf="isLoggedIn()" class="nav-link" routerLink="logout">Logout</a>
        <!-- <a *ngIf="!isLoggedIn()" class="nav-link" routerLink="login">Login</a> -->
    </div>
</div>