<!-- The Modal -->
<div id="id02" class="modal">   
    <!-- Modal Content -->
    <form class="modal-content animate" action="/action_page.php">
        
        <div class="container">
            <p>
                <label class="loginLabel" for="pwd"><b>Password: </b></label>
                <input type="password" placeholder="Enter NEW Password" name="pwd" required
                    [(ngModel)]="userCache.userPassword">
            </p>

        </div>
        <button class="button2" type="button" (click)="submitNewPassword()">Submit Password</button>
        <p>
            <button class="cancelbtn" type="button" (click)="cancelForm()">Cancel</button>
        </p>

        <div class="container" style="background-color:#f1f1f100">
        </div>
    </form>
</div>