<div>
    <table class="center" id="requestDisplay">
        <thead>
            <tr>
                <th>Request ID</th>
                <th>User ID</th>
                <th>Amount</th>
                <th>Date Created</th>
                <th>Status</th>
                <th style="border: 0px;"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let request of allRequests">
                <td>{{request.requestID}}</td>
                <td>{{request.userRef}}</td>
                <td>{{request.amount | currency}}</td>
                <td>{{request.dateCreated | date}}</td>
                <td>{{request.status}}</td>
                <td *ngIf="request.status==pendingStatus">
                    <button type="button" class="button" (click)="goToRequestEdit(request.requestID)">
                        <span class="material-icons">Manage</span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>