<div *ngIf="displayRequest" class="card">
    <img src="../../../assets/makereceipt-receipt-maker.jpg" alt="USA">
    <h1>{{currentRequest.amount | currency}}</h1>
    <h2>Status: {{currentRequest.status | uppercase}}</h2>
    <h3>User: {{requestUserName}}</h3>
    <p>Submitted: {{currentRequest.dateCreated | date}}</p>
    <p *ngIf="confirmRequestEditButtons">Are you sure?</p>
    <p *ngIf="confirmRequestEditButtons"><button (click)="updateRequest()">CONFIRM</button></p>
    <p *ngIf="confirmRequestEditButtons"><button (click)="cancelRequestEdit()">GO BACK</button></p>
    <p *ngIf="!confirmRequestEditButtons"><button (click)="confirmRequestEdit(true)">Approve</button></p>
    <p *ngIf="!confirmRequestEditButtons"><button (click)="confirmRequestEdit(false)">Deny</button></p>
    <p *ngIf="!confirmRequestEditButtons"><button (click)="goToAllRequests()">Go Back</button></p>
</div>