<!-- The Modal -->
<div id="id02" class="modal">
    <!-- <span onclick="document.getElementById('id01').style.display='none'" class="close"
        title="Close Modal">&times;</span> -->

    <!-- Modal Content -->
    <form class="modal-content animate" action="/action_page.php">
        <!-- <div class="imgcontainer">
            <img src="img_avatar2.png" alt="Avatar" class="avatar">
        </div> -->
        <div class="container">
            <p>
                <label class="loginLabel" for="uname"><b>Username: </b></label>
                <input type="text" placeholder="Enter Email Address" name="uname" required
                    [(ngModel)]="newUser.userName">
            </p>
            
        </div>
        <button class="button2" type="button" (click)="submitNewUser()">Submit User</button>
        <p>
            <button class="cancelbtn" type="button" (click)="cancelForm()">Cancel</button>
        </p>

        <div class="container" style="background-color:#f1f1f100">
        </div>
    </form>
</div>